<ion-content>

  <div class="image-container">
    <img src="/assets/logo_unisaude.jpg" alt="Logo da Unisaude" class="top-image"/>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <div class="login-button-container">
      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid" class="login-button">Entrar</ion-button>
    </div>
  </form>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>
