.tab-selected {
    background: rgb(0, 0, 0) !important;
    color: white !important;
}

ion-tab-bar {
    background-color: #e46464;
}

ion-tab-button {
    background-color: #e46464 !important;
    color: white !important;
}

