
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Atendimentos</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Atendimentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Atendimentos"></app-explore-container>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
